p img:only-child {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Figures */

figure.captioned {
	margin-top: 1em;
	margin-bottom: 1em;
}

figure.captioned img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

figure.captioned figcaption {
	display: block;
	width: 50%;
	margin: auto;
	font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}